@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* 
* Base CSS styles unrelated to any specific component
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
    font-family: inherit !important;
}

html {
    font-size: 70%; // 1rem

    @include responsive(700px) {
        font-size: 62.5%;
    }

    @include responsive(400px) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif !important;
    background-color: $bg-color;
    line-height: 2;
    color: $font-color;
}

::-moz-selection {
    background-color: $select-color;
    color: $bg-color;
}

::selection {
    background-color: $select-color;
    color: $bg-color;
}