/* 
* Anything closely related to posts go here, including home cards, and post texts
*/

.posts {
    &--heading {
        h2 {
            font-size: $large-font;
            margin-bottom: 1rem;
        }

        p {
            font-size: $medium-font;
        }

        margin-bottom: 1rem;
    }

    &--form {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        input[type="text"] {
            flex-grow: 1;
            padding: .65rem 1rem;
            border-radius: 5px;
            background-color: $input-background;
            border: $link-color 1px solid;
            font-size: $medium-font;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;

            @include responsive(600px) {
                font-size: $small-font;
            }
        }

        button {
            border: $link-color 1px solid;
            border-radius: 5px;
            padding: .65rem 1rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            font-size: $medium-font;
            background-color: $select-color;
            color: $bg-color;
            transition: $all-transition;

            &:hover,
            &:focus {
                background-color: $bg-color;
                color: $select-color;
            }

            @include responsive(600px) {
                font-size: $small-font;
            }
        }
    }

    &--post {
        border: $link-color 1px solid;
        transition: $all-transition;
        text-decoration: none;
        display: block;
        padding: 1rem 2rem;
        width: 100%;
        font-size: $small-font;
        border-radius: 5px;

        &.hide {
            display: none;
        }

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &--title {
                font-weight: 700;
                max-width: 65%;

                &__hl {
                    background-color: $select-color;
                    color: $bg-color;
                }
            }

            span {
                span {
                    svg {
                        margin-left: .5rem;
                        width: 10px;
                        height: 10px;
                        transition: $all-transition;
                    }
                }
            }
        }

        &__bottom {
            margin-top: .5rem;
            color: $link-color;
        }

        &:hover,
        &:focus {
            border: $select-color 1px solid;

            .posts--post__top {
                span {
                    span {
                        svg {
                            transform: translateX(.25rem);
                            color: $select-color;
                        }
                    }
                }
            }
        }

        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }

    &--empty {
        font-size: $medium-font;
        color: $link-color;
    }

    &--pagination {
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &.hide {
            display: none;
        }

        button {
            font-size: $medium-font;
            border: none;
            border: $link-color 2px solid;
            background-color: transparent;
            padding: .5rem .75rem;
            cursor: pointer;
            transition: $all-transition;
            border-radius: 5px;

            &.hide {
                display: none;
            }

            &:not(:first-of-type) {
                margin-left: .75rem;
            }

            &.active,
            &:hover,
            &:focus {
                color: $select-color;
                border-color: $select-color;
            }
        }
    }
}

.comments {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: $link-color 1px solid;

    &--add {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 2.5rem;

        label {
            font-size: $medium-font;
            font-weight: 700;
            margin-bottom: 1.5rem;

            @include responsive(525px) {
                width: 100%;
                text-align: center;
            }
        }

        textarea {
            border-radius: 5px;
            border: $link-color 1px solid;
        }

        input[type="submit"] {
            margin-top: 1.5rem;

            @include responsive(525px) {
                width: 100%;
                text-align: center;
            }
        }
    }

    &--comment {
        border: $link-color 1px solid;
        border-radius: 5px;

        &:not(:first-of-type) {
            margin-top: 1.5rem;
        }

        &__top,
        &__bottom {
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            @include responsive(475px) {
                padding: .75rem;
            }
        }

        &__top {
            align-items: center;
        }

        &__bottom {
            align-items: flex-end;
            flex-direction: column;
        }

        &__author {
            font-weight: 700;
            font-size: $medium-font;
            max-width: 75%;
        }

        &__date {
            font-size: $small-font;
            text-align: right;
        }

        &__text {
            font-size: $small-font;
            width: 100%;
        }

        &__bar {
            margin-top: .75rem;
            padding: .5rem 1rem;
            border-top: $link-color 1px solid;
            background-color: rgba($link-color, .05);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__btn {
            font-size: $small-font;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: .25rem .5rem;
            border-radius: 5px;
            border: 1px solid $link-color;
            transition: $all-transition;
            background-color: rgba($link-color, .05);

            &:hover,
            &:focus {
                background-color: rgba($link-color, .15);
            }

            svg {
                width: 1.6rem;
                height: 1.6rem;
                opacity: .65;
                margin-right: .25rem;

                @include responsive(475px) {
                    margin-right: 0;
                }
            }

            &--up {
                margin-right: .25rem;
            }

            &--down {
                margin-left: .25rem;
            }

            &--up.active {
                color: $good-color;
            }

            &--down.active {
                color: $error-color;
            }

            &--reply {
                margin-right: auto;
            }

            &--delete {
                padding: .5rem 1rem;
                cursor: pointer;
                background-color: rgba($error-color, .15);
                border: $link-color 1px solid;
                transition: $all-transition;
                border-radius: 5px;

                &:hover,
                &:focus {
                    background-color: rgba($error-color, .45);
                }
            }

            &--disabled {
                cursor: not-allowed;
            }

            &--text {
                @include responsive(475px) {
                    display: none;
                }
            }
        }

        &__votect {
            font-size: $small-font;
            color: $link-color;
            margin: 0 1rem;
            min-width: 2.5rem;
            text-align: center;

            @include responsive(475px) {
                margin: 0 .75rem;
            }
        }

        &__reply {
            &.hide {
                display: none;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;

                textarea {
                    border-radius: 0;
                    border-bottom: $link-color 1px solid;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }

                input[type="submit"] {
                    margin: .5rem 1rem;
                }

                .form--error {
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
            }

            &--cancel {
                font-size: $small-font;
                background: none;
                border: none;
                color: $link-color;
                border-bottom: 1px solid $link-color;
                padding: 0 1rem .5rem 1rem;
                margin-left: 1rem;
                margin-right: auto;
                cursor: pointer;
                transition: $all-transition;

                &:hover {
                    color: $font-color;
                    border-bottom-color: $font-color;
                }
            }
        }
    }

    &--empty {
        font-size: $small-font;
        color: $link-color;
    }

    textarea {
        width: 100%;
        height: 10rem;
        padding: 1rem;
        background-color: $input-background;
        resize: none;
    }

    &--comment>.comments--reply {
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: $link-color 1px solid;
    }

    &--reply {
        padding: 1.5rem 0 0 1.5rem;

        @include responsive(475px) {
            padding: 1rem 0 0 .75rem;
        }

        &>div.comments--reply {
            padding-left: 2.5rem;

            @include responsive(475px) {
                padding-left: 1.75rem;
            }
        }

        &__author {
            font-weight: 700;
            margin-bottom: .5rem;
        }

        &__reply {
            font-size: $small-font;
            margin-bottom: .5rem;
        }

        &__bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: .5rem;
        }

        &__btn {
            display: flex;
            align-items: center;
            padding: .25rem .5rem;
            font-size: $small-font;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid $link-color;
            transition: $all-transition;
            background-color: rgba($link-color, .05);

            &:hover,
            &:focus {
                background-color: rgba($link-color, .15);
            }

            svg {
                width: 1.2rem;
                height: 1.2rem;
                opacity: .65;
            }

            &--reply {
                margin-right: auto;
                background: none;
                border: none;
                color: $link-color;
                border-radius: unset;
                border-bottom: $link-color 1px solid;
                transition: $all-transition;

                &:hover,
                &:focus {
                    color: $font-color;
                    border-bottom-color: $font-color;
                    background-color: unset;
                }
            }

            &--delete {
                margin-left: auto;
                margin-bottom: 1rem;
                background-color: rgba($error-color, .15);
                border: $link-color 1px solid;
                border-radius: 5px;
                transition: $all-transition;

                &:hover,
                &:focus {
                    background-color: rgba($error-color, .45);
                }
            }

            &--up {
                margin-right: .25rem;
            }

            &--down {
                margin-left: .25rem;
            }

            &--up.active {
                color: $good-color;
            }

            &--down.active {
                color: $error-color;
            }

            &--disabled {
                cursor: not-allowed;
            }
        }

        &__votect {
            margin: 0 1rem;
            color: $link-color;
            min-width: 1.5rem;
            text-align: center;

            @include responsive(475px) {
                margin: 0 .75rem;
            }
        }

        &__rereply {
            &.hide {
                display: none;
            }

            margin-top: 1rem;

            form {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;

                input[type="submit"] {
                    font-size: $small-font;
                }

                textarea {
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    border: 1px solid $link-color;
                }

                .form--error {
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 0;
                }
            }

            &--cancel {
                margin-right: auto;
                font-size: $small-font;
                background: none;
                border: none;
                color: $link-color;
                border-bottom: 1px solid $link-color;
                padding: 0 1rem .5rem 1rem;
                cursor: pointer;
                transition: $all-transition;

                &:hover {
                    color: $font-color;
                    border-bottom-color: $font-color;
                }
            }
        }
    }
}