{% extends "base.html" %}

{% block content %}
<header class="header">
    <a href="/home"
        rel="noopener noreferrer"
        class="link header--link">Home</a>
    <h1 class="header--heading">{{ title }} </h1>
</header>
<section class="edit">
    <form
        method="POST">
        <label for="title">
            What is the title of your post?
        </label>
        <input type="text"
            name="title"
            id="title"
            placeholder='Be short.' value="{{ post.title }}" minlength=5 maxlength=90 required>
        <label for="post">
            You should write your post in Markdown or plain text.
        </label>
        <textarea name="post"
            id="post"
            wrap="on"
            placeholder="Remember, be nice!" minlength=15 required>{{ post.text }}</textarea>
        <input type="submit"
            value="Publish your post" formaction="/edit/{{ id }}">
        <input type="submit"
            value="Delete this post" formaction="/delete/{{ id }}"></input>
    </form>
</section>
<script src="../static/js/script.js" defer></script>
{% endblock %}