{% extends "base.html" %}

{% block content %}
<header class="header">
    {% if session['auth'] %}
    <p class="header--log">You are logged in as: {{ session['auth'][1] }}</p>
    {% if session['auth'][2] %}
    <a href="/write"
        class="link header--link">Write a post</a>
    {% endif %}
    <a href="/logout"
        class="link header--link">Logout</a>
    {% else %}
    <a href="/login"
        class="link header--link">Login</a>
    {% endif %}
    <h1 class="header--heading">Hi, I'm Lukács Zsolt 😀</h1>
</header>


<section class="description">
    <div>
        <p class="description--text">I'm a student who tries something new every now and then. Maybe, I want to write
            about
            them, until then checkout my <a href="https://github.com/rockdonald2"
                target="_blank"
                rel="noopener noreferrer"
                class="link">GitHub <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
</svg></span></a> for some
            interesting stuff that I made.</p>
        <p class="description--text">
            I mostly do my schoolwork, but sometimes I do something just for the sake of novelty.
        </p>
    </div>
    <ul class="description--links">
        Quick links
        <li class="description--links__link">
            <a href="https://github.com/rockdonald2"
                target="_blank"
                rel="noopener noreferrer"
                class="link">💻 GitHub <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
</svg</span></a>
        </li>
        <li class="description--links__link">
            <a href="https://rockdonald2.github.io/Resume/"
                target="_blank"
                rel="noopener noreferrer"
                class="link">📃 Resumé <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
</svg</span></a>
        </li>
        <li class="description--links__link">
            <a href="mailto:rockdonald2@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
                class="link">👋🏻 Contact me via e-mail <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
</svg</span></a>
        </li>
    </ul>
</section>


<section class="posts">
    <div class="posts--heading">
        <h2>What I'm writing about</h2>
        <p>You might want to check out some of the things I wrote recently:</p>
    </div>
    <div class="posts--form">
        <input type="text" name="words" id="words" placeholder="Type in keywords or a post title">
        <button type="button" disabled>Search</button>
    </div>
    <div class="posts--container"></div>
    <div class="posts--pagination"></div>
</section>

<script src="../static/js/homepage.js" defer></script>

{% endblock %}