{% extends "base.html" %}

{% block content %}
<header class="header">
    <a href="/home"
        class="link header--link">Home</a>
    <h1 class="header--heading">{{ title }} </h1>
</header>
<section class="login">
    <form action="/login"
        method="POST">
        <input type="email" name="email" id="email" placeholder="Enter your e-mail address..." required>
        <input type="password" name="pwd" id="pwd" placeholder="Enter your password..." required>
        <input type="submit" value="Log in">
        <a href="/register" class="link">Register a new account</a>
    </form>
</section>
{% endblock %}