{% extends "base.html" %}

{% block content %}
<header class="header">
    <a href="/home"
        class="link header--link"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
</svg>Home</a>
    <h1 class="header--heading">{{ title }}</h1>
</header>
<section class="register">
    <form action="/register"
        method="POST">
        <input type="email"
            name="email"
            id="email"
            placeholder="Enter your e-mail address..."
            required>
        <input type="text"
            name="name"
            id="name"
            minlength=5
            placeholder="Enter your name..."
            required>
        <input type="password"
            name="pwd"
            id="pwd"
            minlength=8
            maxlength=96
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
            placeholder="Enter your password..."
            required>
        <label for="pwd">Your password should contain at least 8 characters, with at least one uppercase letter, one lowercase
            letter, and one number.</label>
        <input type="password"
            name="cpwd"
            id="cpwd"
            minlength=8
            maxlength=96
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
            placeholder="Confirm your password..."
            required>
        <input type="submit"
            value="Register your account">
    </form>
</section>
{% endblock %}