@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

/* 
* Base CSS styles unrelated to any specific component
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}

html {
    font-size: 11px; // 1rem

    @include responsive(700px) {
        font-size: 10px;
    }

    @include responsive(400px) {
        font-size: 9px;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans JP',
        sans-serif;
    background-color: $bg-color;
    line-height: 2;
    color: $font-color;
}

::-moz-selection {
    background-color: $select-color;
    color: $bg-color;
}

::selection {
    background-color: $select-color;
    color: $bg-color;
}