/* 
* Reusable components go here
*/

.link {
    color: $link-color;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: $all-transition;

    span {
        display: inline-block;
        transition: inherit;
    }

    &:hover {
        color: $font-color;

        &--underline {
            &::before {
                background-color: $font-color;
            }
        }

        span {
            transform: translateX(.25rem);
        }
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: .5rem;
    }
}

form input[type="submit"] {
    padding: 1rem;
    font-size: $medium-font;
    background-color: rgba(#fffcf6, .1);
    border: $link-color 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: $all-transition;
    margin-top: 1.5rem;

    &:hover {
        background-color: $link-color;
        color: $bg-color;
    }
}

form textarea,
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    font-size: $medium-font;

    @include responsive(475px) {
        font-size: $small-font;
    }
}