/* 
* Reusable components go here
*/

.link {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: $all-transition;

    span {
        display: inline-block;
        transition: inherit;
    }

    &:hover,
    &:focus {
        color: $select-color;

        span {
            transform: translateX(.25rem);
        }
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: .5rem;
    }
}

form input[type="submit"] {
    padding: .65rem 1rem; 
    font-size: $medium-font;
    background-color: $input-background;
    border: $link-color 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: $all-transition;

    &:hover,
    &:focus {
        background-color: $select-color;
        color: $bg-color;
    }

    @include responsive(600px) {
        font-size: $small-font;
    }
}

form textarea,
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    font-size: $medium-font;

    @include responsive(475px) {
        font-size: $small-font;
    }
}