/* 
* All variables used go here
*/

$bg-color: #fafafa;
$font-color: rgba(#333, .85);
$link-color: rgba(#333, .45);
$error-color: #e74c3c;
$good-color: #27ae60;
$input-background: rgba(#fffcf6, .1);
$select-color: #3498db;

$extra-large-font: 3.6rem;
$large-font: 1.8rem;
$medium-font: 1.5rem;
$small-font: 1.2rem;

$all-transition: all .25s ease;