/* 
* All variables used go here
*/

$bg-color: #fafafa;
$font-color: rgba(#333, .85);
$link-color: rgba(#333, .45);
$error-color: #e74c3c;
$good-color: #27ae60;

$extra-large-font: 3.8rem;
$large-font: 2rem;
$medium-font: 1.7rem;
$small-font: 1.5rem;

$all-transition: all .25s ease;