/* 
* Everything related to the writing and editing page
*/

.write,
.edit {
    form {
        display: flex;
        flex-direction: column;

        label {
            font-size: $medium-font;
            margin-bottom: 1rem;
        }

        textarea,
        input[type="text"] {
            border: $link-color 1px solid;
            background: rgba(#fffcf6, .1);
            border-radius: 5px;
            overflow: auto;
        }

        input[type="text"] {
            padding: .5rem 1rem;
            margin-bottom: 1rem;
        }

        textarea {
            height: 30rem;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem;
            resize: none;
        }

        input[type="submit"]:nth-of-type(3) {
            background-color: rgba($error-color, .25);

            &:hover {
                background-color: rgba($error-color, .75);
            }
        }
    }

    &--preview {
        margin-top: 2.5rem;

        &__header {
            font-size: $medium-font;
        }
    }
}

.tab {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;

    &--link {
        flex: 1;
        background-color: transparent;
        border: none;
        border-bottom: $link-color 1px solid;
        padding: 1rem 0;
        font-size: $small-font;
        cursor: pointer;
        font-weight: 500;
        border-radius: unset;
        transition: $all-transition;

        &:nth-of-type(odd) {
            margin-right: .25rem;
        }

        &:nth-of-type(even) {
            margin-left: .25rem;
        }

        &:hover,
        &:focus {
            background-color: rgba($link-color, .1);
        }

        &__focused {
            background-color: rgba($link-color, .1);
        }
    }

    &--hide {
        display: none;
    }
}